body{
    background-color:white;
    font-size: 15px;
}
button{
 width: 180px;
 height: 40px;
 background-color: green;
 color: white;

}
#after_submit output{
    font-weight: 700;
    font-size: 20px;

}